@model List<Book>
<!-- <partial name="_Notification"/> -->

<div class="row pt-4 pb-4">
    <div class="col-6">
        <h1>List of Book</h1>
    </div>
    <div class="col-6">
        <a asp-controllder="Book" asp-action="CreateUpdate" class="btn btn-primary">Create new Book</a>
        </div>
<table>
 <thead>
     <tr>
         <th>Cover</th>
         <th>Name</th>
         <th>Description</th>
         <th>Author</th>
         <th>Price</th>
         <th>Category</th>
     </tr>
 </thead>
 <tbody>
     @foreach(var book in Model)
     {
     <tr>
         <td><img src="@book.Cover" style="max-width:250px;width:100%"/></td>
         <td>@book.Name</td>
         <td>@book.Description</td>
         <td></td>
         <td>@book.Price</td>
         <td></td>

         <td>
             <div class="btn-group" role="group">
                 <a asp-controller="Book" asp-action="CreateUpdate" asp-route-id="@book.Id" asp-items class="btn-primary">Edit</a>
                 <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" class="btn-primary">Delete</a>
             </div>
         </td>
     </tr>
     }
 </tbody>
</table>