@model List<Book>
<!-- <partial name="_Notification"/> -->

<div class="row pt-4 pb-4">
    <div class="col-6">
        <h1>List of Book</h1>
    </div>

</div>
<form asp-controller="Home" asp-action="Index"  class="mb-3">
    <div class="form-group">
        <label for="catId">Category:</label>
        @Html.DropDownList("catId", (SelectList)ViewBag.Categories, "All", new { @class = "form-control" })
        <label for="search" class="ml-2">Title:</label>
        <input type="text" name="search" class="form-control" />
        <button type="submit" class="btn btn-primary ml-2">Find</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
             @if(User.IsInRole("Customer")){
            <th>Action</th>
             }
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td><img src="@book.Cover" style="max-width:250px;width:100%" /></td>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Price</td>
                <td>
                <a asp-controller="Home" asp-action="Details" asp-area="Customer" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                </td>
                @if(User.IsInRole("Customer")){
                <td>
                    <a asp-controller="Cart" asp-action="AddBookToCart" asp-route-id="@book.Id" class="btn btn-info">Add To Cart</a>        
                </td>
                }
               
            </tr>
        }
    </tbody>
</table>
